name: CI

on: [push, pull_request, release]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    
    - name: Print GitHub context
      env:
        GITHUB_EVENT: ${{ github.event_name }}
        GITHUB_REF: ${{ github.ref }}
      run: |
        echo $GITHUB_EVENT $GITHUB_REF
    
    - name: Dependencies
      run: |
        sudo apt-get install texlive-latex-base texlive-font-utils texlive-fonts-extra texlive-publishers texlive-science
        
    - name: Generate PDF   
      run: |
        cd thesis
        pdflatex thesis.tex
        bibtex thesis.aux
        pdflatex thesis.tex
        pdflatex thesis.tex
        
    - name: Prepare for deploy
      run: | 
        mkdir deploy
        cp thesis/thesis.pdf deploy/traversaro-phd-thesis.pdf
        
    - name: Deploy
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: JamesIves/github-pages-deploy-action@master
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: deploy
        
    - name: Upload Release Asset
      if: github.event_name == 'release'
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: deploy/traversaro-phd-thesis.pdf
          asset_name: traversaro-phd-thesis.pdf
          asset_content_type: application/pdf
        
